#game {
  width: 800px;
  text-align: center;
}

ul {
  padding: 10px;
  list-style: none;
}
li {
  list-style: none;
}
li:hover {
  cursor: pointer;
}
h1 {
  text-align: center;
}

.quiz-container {
  margin: 50px auto;
  height: 70%;
  width: 50%;
}
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player0, .player1, .player2, .player3 {
  background-color: #0146AD;
  color: #FEC235;
  margin: 5px;
  width: 50%;
  padding: 10px;
  font-size: 22px;
}
.player0:hover, .player1:hover, .player2:hover, .player3:hover {
  color: 	#FFFEFF;
}

.stats-item {
  font-size: 20px;
  padding: 5px;
  display: inline-block;
}
