#game {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

ul {
  padding: 10px;
  list-style: none;
}
li {
  padding: 10px;
  list-style: none;
}

h1 {
  text-align: center;
}

.stats-item {
  display: inline-block;
}
